<app-navbar></app-navbar>
<div class="page-bg page-bg-gears">
  <div class="usuarios-grid">

    <div class="usuarios-left">
      <div class="card-kaak">
        <h5>Bienvenido a Clientes</h5>
        <p style="color:#888;font-size:0.85rem;">
          Aquí podrás gestionar la información de tus clientes.
        </p>
      </div>
    </div>

    <div class="card-kaak form-usuario">
      <h5>+ Agregar Cliente</h5>
      <input type="text" placeholder="Nombre"/>
      <input type="text" placeholder="Apellido Paterno"/>
      <input type="text" placeholder="Apellido Materno"/>
      <input type="text" placeholder="Teléfono"/>
      <input type="email" placeholder="Correo electrónico"/>
      <div class="form-btns">
        <button class="btn-cancelar">Cancelar</button>
        <button class="btn-guardar">Guardar</button>
      </div>
    </div>

  </div>
</div>