<div class="login-page" style="background-image: url('assets/images/FONDO_LOGIN.png');">
  <div class="login-card">
    <div class="login-logo">
      <img src="assets/images/Logo.png" alt="K'áaxPark" />
    </div>
    <div class="login-title">
      <div class="login-title">
        <h2>K'áax<span class="gold">Park</span></h2>
        <p style="font-size:0.8rem; color:#888; margin-top:0.2rem;">Bienvenido de nuevo</p>
      </div>
    </div>
    <div class="alert-error" *ngIf="error">{{ error }}</div>
    <div class="input-group-kaak">
      <animated-icons class="login-field-icon"
        src="assets/icons/user-profile-minimalistic-325dddb6.json"
        trigger="loop"
        attributes='{"variationThumbColour":"#C9A227","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1.5,"defaultColours":{"group-1":"#2A2A2A","group-2":"#C9A227","background":"#FFFFFF"}}'
        height="24" width="24"></animated-icons>
      <input type="email" placeholder="Correo electrónico" [(ngModel)]="email" autocomplete="off"
        (keyup.enter)="onLogin()" />
    </div>
    <div class="input-group-kaak">
      <animated-icons class="login-field-icon"
        src="assets/icons/unlock-minimalistic-325dddb6.json"
        trigger="loop"
        attributes='{"variationThumbColour":"#C9A227","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1.5,"defaultColours":{"group-1":"#2A2A2A","group-2":"#C9A227","background":"#FFFFFF"}}'
        height="24" width="24"></animated-icons>
      <input [type]="showPassword ? 'text' : 'password'" placeholder="Contraseña" [(ngModel)]="password"
        (keyup.enter)="onLogin()" />
      <button type="button" class="eye-btn" (click)="togglePassword()">
        <animated-icons class="login-eye-icon"
          src="assets/icons/eye-minimalistic-325dddb6.json"
          trigger="loop"
          attributes='{"variationThumbColour":"#C9A227","variationName":"Two Tone","variationNumber":2,"numberOfGroups":2,"backgroundIsGroup":false,"strokeWidth":1.5,"defaultColours":{"group-1":"#2A2A2A","group-2":"#C9A227","background":"#FFFFFF"}}'
          height="22" width="22"></animated-icons>
      </button>
    </div>
    <button class="btn-gold" style="margin-top:0.5rem;" (click)="onLogin()" [disabled]="loading">
      <em>{{ loading ? 'Iniciando...' : 'Iniciar Sesión' }}</em>
    </button>
  </div>
</div>